<!doctype html>
<html>
<head>
    <title>Cafecito</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Cafecito</h1>
        <img src="https://images.unsplash.com/photo-1504630083234-14187a9df0f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8" alt="Cafecito">

        <p>Log in or sign up:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Barista Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>  Sign Up</a>
        <a href="/order"class="btn btn-default"> Cashier</a>

       

    </div>

</div>
</body>
</html>
